#header {
  background-image: url("../assets/images/header-image2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.me-n1 {
  margin-right: -0.25rem !important;
}

input[name="rating"] {
  display: none;
}