#header {
  background-image: url("../assets/images/header-image2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* star rating */
.me-n1 {
  margin-right: -0.25rem !important;
}

input[name="rating"] {
  display: none;
}

/* title search dropdown */
.titleSearchContainer {
  position: relative;
}

.titleSearchDropdown {
  position: absolute;
  width: 100%;
}

.titleSearchDropdown_item {
 cursor: pointer;
 background-color: #f5f5f5;
}

.titleSearchDropdown_item:hover {
  background-color: #fff;
}